
<!-- <h1>
<%= @player_1_name %> has attacked <%= @player_2_name %> <%= @player_2_hitpoints %> HP !
</h1> -->

<h1>
<%= @game.player1.name %> has attacked <%= @game.player2.name %> <%= @player_2_name.hitpoints %> HP !
</h1>
